# Considerar a pasta /public como root
DirectoryIndex /public/index.php
RewriteEngine On 
RewriteRule ^$ public/index.php [L]

# Omitir a extensão .php no URL
Options +MultiViews
Options +FollowSymLinks
Options -Indexes

# Reescreve o URL
RewriteRule ^dashboard$ /public/views/dashboard.php [L]
RewriteRule ^table$ /public/views/table.php [L]

# Se as seguintes condições são verdadeiras, então reescreve o URL:
# Se o nome do ficheiro não é uma diretoria,
RewriteCond %{REQUEST_FILENAME} !-d
# e se o nome do ficheiro não é um ficheiro normal existente,
RewriteCond %{REQUEST_FILENAME} !-f
# e se o nome do ficheiro não é um link simbólico,
RewriteCond %{REQUEST_FILENAME} !-l
# então reescreve o URL:
RewriteRule ^((?!public/api).*)$ public/api/$1 [L,NC]